# Project place file
/*.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
api_key.txt

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
